{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf8">
    <title>Pastegraph - {% block title %}plot graphs{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <style type="text/css">

    </style>
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pastegraph.js" %}"></script>
    <script type="text/javascript">

    </script>
</head>

<body>
    <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <header>
    <h2>Pastegraph &ndash; plot graphs</h2>
    <h4>Today only adjacency matrix is an option for graph notation</h4>
    </header>

    <section>
    {% block content %}
    {% endblock %}
    </section>
    
    <footer>
    &copy; 2013 <a href="https://github.com/vpavlenko">Vitaly Pavlenko</a>
    </footer>
</body>
</html>
