{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<form id="graph-form">
    {% csrf_token %}
    <div id="setup">
        <fieldset>
            <legend>Adjacency matrix or edges list</legend>
            <div id="source">
                <textarea id="source-textarea" name="graph_source" rows="10" cols="20">
0 1 0 0
0 0 1 1
0 0 0 0
0 0 0 0</textarea>
            </div>
            <div id="source-hint">You can also specify this graph as an edges list:
               <pre>1 2
2 3
2 4</pre>
            </div>
        </fieldset>

        <fieldset id="graph-options">
            <legend>Graph options</legend>
            <input type="radio" name="source_type" value="adjacency_matrix" checked>adjacency matrix
            <input type="radio" name="source_type" value="edges_list">edges list
            <br>
            <input type="radio" name="directed" value="true" checked>directed
            <input type="radio" name="directed" value="false">undirected
        </fieldset>

        <fieldset id="plot-options">
            <legend>Plot options</legend>
            <input type="radio" name="graphviz_utility" value="dot" checked>dot
            <input type="radio" name="graphviz_utility" value="neato">neato
            <br>
            <input type="button" id='graphviz-plot-button' value="Graphviz">
            <br>
            <hr>
            <input type="button" id='springy-simple-plot-button' value="Springy">

            <input type="hidden" name="image_type" value="svg">
        </fieldset>
    <!-- 
        <fieldset id="paste-options">
            <legend>Paste options</legend>
            <input type="button" value="Submit" disabled>
        </fieldset> -->
    </div>

    <div id="plot-results">
        <div id="graphviz-plot-result" class="plot-result">
            <img id="ajax-loader" src="{% static "img/ajax-loader.gif" %}" style="display: none;">
            <img id="graphviz-plot-img">
        </div>

        <div id="springy-simple-plot-result" class="plot-result">
            <canvas id="springy-simple-canvas" width="640" height="480" />
        </div>
    </div>

    <div id="error">
    
    </div>
</form>
{% endblock %}
