{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
<div class="large-4 columns">

<form id="graph-form">
    {% csrf_token %}
        <fieldset>
            <legend>Adjacency matrix or edge list</legend>
            <div id="source">
                <textarea id="source-textarea" name="graph_source" class="code">
0 1 1 1
0 0 1 0
0 0 0 1
0 1 0 0</textarea>
            </div>
            <span id="source-hint">or <a href="" id="source-hint-clickable">as edge list</a></span>
        </fieldset>

        <fieldset id="graph-options">
            <legend>Graph options</legend>
            <div class="row">
                <div class="large-12 columns">
            <input type="radio" name="source_type" value="adjacency_matrix" checked>adjacency matrix
            <input type="radio" name="source_type" value="edges_list">list of edges
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
            <input type="radio" name="directed" value="true" checked>directed
            <input type="radio" name="directed" value="false">undirected
                </div>
            </div>
        </fieldset>

        <input type="hidden" name="graphviz_utility" value="neato" checked>
        <input type="button" class="small button" id='springy-simple-plot-button' value="Springy">
        <input type="button" class="small button" id='graphviz-plot-button' value="Graphviz">

        <input type="hidden" name="image_type" value="svg">
</form>
</div>

    <div id="plot-results" class="large-8 columns">
        <div id="graphviz-plot-result" class="plot-result">
            <img id="ajax-loader" src="{% static "img/ajax-loader.gif" %}" style="display: none;">
            <img id="graphviz-plot-img">
        </div>

        <div id="springy-simple-plot-result" class="plot-result">
            <canvas id="springy-simple-canvas" width="640" height="480" />
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div id="error" class="alert-box alert">
        </div>
    </div>
</div>

{% endblock %}
