{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<form id="graph-form">
    {% csrf_token %}
    <div id="source">
        <textarea id="source-textarea" name="graph_source" rows="10" cols="20">
0 0 1
0 0 1
1 1 0</textarea>
    </div>

    <fieldset id="graph-options">
        <legend>Graph options</legend>
        <input type="radio" name="directed" value="true" checked>directed
        <input type="radio" name="directed" value="false">undirected

        <input type="hidden" name="source_type" value="adjacency_matrix">
    </fieldset>

    <fieldset id="plot-options">
        <legend>Plot options</legend>
        <input type="radio" name="graphviz_utility" value="dot" checked>dot
        <input type="radio" name="graphviz_utility" value="neato">neato
        <br>
        <input type="button" id='plot-button' value="Plot">
        <img id="ajax-loader" src="{% static "img/ajax-loader.gif" %}" style="display: none;">

        <input type="hidden" name="image_type" value="svg">
    </fieldset>
<!-- 
    <fieldset id="paste-options">
        <legend>Paste options</legend>
        <input type="button" value="Submit" disabled>
    </fieldset> -->

    <div id="plot">

    </div>

    <div id="error">
    
    </div>
</form>
{% endblock %}
