#error {
    color: red;
}

#ajax-loader {
    padding: 1em 1em 1em 1em;
}

#error {
    clear: both;
}

.plot-result:first-of-type {
    display: block;
}

.plot-result:not(:first-of-type) {
    display: none;
}

#source-textarea {
    height: 10em;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#source-hint {
    color: gray;
}

#source-hint-clickable {
    border-bottom: 1px dotted gray;
}

.ajax-loader-rendering {
    /*background-color: lightyellow;*/
}

.ajax-loader-loading {
    /*background-color: lightgreen;*/
}