body {
    padding-bottom: 10px;
}

#ajax-loader {
    padding: 1em 1em 1em 1em;
}

#error {
    display: none;
}

#source-textarea {
    height: 10em;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

#source-hint {
    color: gray;
}

#source-hint-clickable {
    border-bottom: 1px dotted gray;
}

.ajax-loader-rendering {
    /*background-color: lightyellow;*/
}

.ajax-loader-loading {
    /*background-color: lightgreen;*/
}

.source-type-choice {
    padding: 3px;
}

.source-type-choice:hover {
    background-color: #fff6f0;
}

.source-type-choice:hover:not(.source-type-selected) {
    border: 1px solid #ff7518; /* #ff7518 */
}

.source-type-choice.source-type-selected {
    border: 1px solid #ff7518; /* #ff7518 */
    color: #ff7518;
}

.source-type-choice:not(.source-type-selected) {
    border-bottom: 1px dashed orange;
    color: black;
}

/*.source-type-choice:not(:last-of-type) {
    margin-right: 3em;
}*/

.source-type-choice:first-of-type {
    float: left;
}

.source-type-choice:last-of-type {
    float: right;
}
